<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create User Directory</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="styles.css" rel="stylesheet">
  </head>
  <body>
      <h1>Create User Directory</h1>
      <div id="wrapper">
        {{#userBox}}
          {{#users}}
            <div class="user">
            <img src={{avatar}}>
            <p class="name">{{name}}</p>
            {{#job}}
              <p class="job">{{job}}</p>
            {{/job}}
            {{^job}}
              <p class="forhire">Available for hire<p>
            {{/job}}
          </div>
          {{/users}}
        {{/userBox}}
      </div>

      <div id="wrapper2">
        {{#userBox}}
          {{#users}}
            <div class="user-2">
              <div class="top-row">
                <div class="wrapper-image">
                  <img class="round" src={{avatar}}>
                </div>
                <div class="contact">
                  <p class="name-2">{{name}}</p>
                  <p>
                  {{#address}}
                    {{#city}}
                      {{city}}, 
                    {{/city}}
                    {{country}} 
                  {{/address}}
                  | 
                  {{#job}}
                    {{job}}, {{company}}
                  {{/job}}
                  {{^job}}
                    Available for hire
                  {{/job}} <br>
                  {{email}} | {{phone}}
                  </p>
                </div>
              </div>
              <p>
                {{#university}}
                  Education{{university}}
                {{/university}}
              </p>
              <p>
                Skills 
                {{#skills}}
                  {{#.}}
                    {{.}}<br>
                  {{/.}}
                {{/skills}}
              </p>
            </div>
          {{/users}}
        {{/userBox}}
      </div>
  </body>
</html>